<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/mahmo/IdeaProjects/AppiumAutomationSwagLabsApp">
        <classes>
            <class name="E2ETest">
                <methods>
                    <include name="testSuccessfullLoginWithValidCredentials"/>
                    <include name="testAddingProductsToCart"/>
                    <include name="checkoutProducts"/>
                    <include name="fillInformationForm"/>
                    <include name="finishCheckout"/>
                    <include name="logOut"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>